/* Links in the Navbar */
/* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: lightcoral;
} 

/* Not the font I want. Font I want is dowloaded onto my computer */
#navbarname {
    font-family: ;
    font-weight: 200;
    color: white;
}

/*afton img*/

img {
    padding:0px, 0px, 0px, 0px;
  background-image: url(img%20home%20page/Afton.jpeg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
