/* Links in the Navbar */
/* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: lightcoral;
} 

/* Not the font I want. Font I want is dowloaded onto my computer */
#navbarname {
    font-family: ;
    font-weight: 200;
    color: white;
}